/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(13, 31%, 94%);
}

/* aside 1 */
header {
  font-weight: 900;
  color: hsl(14, 65%, 9%);
}
.products img {
  border-radius: 10px;
  width: 100%;
}
.products img.selected {
  border: 3px solid hsl(14, 86%, 42%);
}
.add-cart,
.products .quantity {
  width: 150px;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  border: 1.2px solid hsl(14, 25%, 72%);
}
.add-cart {
  display: flex;
  justify-content: space-around;
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.add-cart:hover {
  color: hsl(0, 0%, 100%);
  background-color: rgba(252, 160, 160, 0.9);
}

.add-cart span {
  font-size: 16px;
  font-weight: 500;
}
.products .quantity {
  background-color: hsl(14, 86%, 42%);
  justify-content: space-between;
}
.circle-box {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.circle-box:hover {
  background-color: rgba(255, 254, 254, 0.2);
  border-radius: px;
}
.add-cart,
.products .quantity {
  position: relative;
  bottom: 20px;
  margin: 0 auto;
  z-index: 1;
}
.products .quantity {
  display: none;
}
.quantity span {
  color: hsl(0, 0%, 100%);
}
.caption {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px 20px 20px;
}
.caption h6 {
  font-size: 16px;
  font-weight: 100px;
  color: hsl(0, 0%, 71%);
}
.caption h3 {
  font-size: 18px;
}
.caption p,
.item-count {
  color: hsl(14, 79%, 46%);
  font-weight: 700;
  font-size: 16px;
}

/* aside 2 */
.ordered-cart {
  background-color: hsl(0, 0%, 100%);
  max-width: 300px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 20px;
}
.ordered-cart h2 {
  color: hsl(14, 79%, 46%);
}
.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ordered-cart .empty-cart svg {
  width: 100px;
  margin: 5px auto;
}
.empty-cart p {
  color: hsl(12, 20%, 44%);
  font-weight: 500;
  text-align: center;
}
.added-cart {
  display: none;
}
ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(12, 20%, 44%);
  padding: 15px 0;
}
.ordered-cart .quantity {
  margin-top: 7px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.item-count {
  font-size: 14px;
}
.item-price {
  font-size: 12px;
}
.item-price b {
  font-size: 14px;
  font-weight: 200;
}
.total-price {
  font-size: 14px;
}
.remove-item {
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.2px solid hsl(12, 20%, 44%);
  border-radius: 50px;
  cursor: pointer;
}
.total-order {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(12, 20%, 44%);
  padding: 15px 0;
}
.total-order h1 {
  text-shadow: 0.2px 0.2px 1px hsl(14, 86%, 42%);
}
.added-cart .carbon-neutral {
  background-color: hsl(13, 31%, 94%);
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.carbon-neutral p {
  font-size: 12px;
}
.carbon-neutral p span {
  font-weight: bold;
}
button {
  padding: 12px 5px;
  background-color: hsl(14, 86%, 42%);
  width: 100%;
  border-radius: 20px;
  border: none;
  color: hsl(0, 0%, 100%);
  margin: 5px auto;
  cursor: pointer;
}
button:hover {
  background-color: rgba(199, 57, 14, 0.8);
  font-weight: 700;
}
.order-confirmation {
  display: none;
  width: 100%;
  height: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.order-confirmed {
  width: 320px;
  border-radius: 15px;
  padding: 20px 20px;

  background-color: hsl(0, 0%, 100%);
}
.order-confirmation p {
  font-size: 14px;
  margin: 5px 0;
}
.order-confirmation ul {
  background-color: hsl(13, 31%, 94%);
  padding: 0px 15px 5px;
  border-radius: 5px;
}
.order-confirmation li {
  align-items: center;
}
.order-confirmation .image img {
  width: 50px;
  height: 50px;
}
.order-confirmation .item-info-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.order-confirmation .total-order {
  background-color: hsl(13, 31%, 94%);
}
.btn2 {
  padding: 10px 2px !important;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap; /* Responsive layout for footer content */
}
a,
footer p {
  color: hsl(12, 20%, 44%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: hsl(14, 86%, 42%);
}
footer p {
  text-align: center;
  margin-top: 50px;
}
.social-icons {
  display: flex;
  width: 40%;
  justify-content: space-around;
  margin: 10px auto;
}
.social-icons a {
  font-size: 20px;
}
@media (max-width: 767px) {
  header {
    font-size: 30px;
    margin: 20px 0;
  }
  .all-content {
    width: 90%;
    margin: 10px auto;
  }
  .ordered-cart {
    max-width: 700px;
  }
  .social-icons {
    width: 55%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    font-size: 35px;
    margin: 20px 5% 20px 3%;
  }
  main .products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    width: 54%;
    margin: 0 5% 0 3%;
    align-items: center;
    justify-content: center;
  }
  .add-cart,
  .products .quantity {
    width: 100px;
    padding: 4px 5px;
    /* margin: 1px auto !important; */
  }
  .add-cart span {
    font-size: 12px;
    font-weight: 500;
  }
  .circle-box {
    width: 15px;
    height: 15px;
  }
  .caption h6 {
    font-size: 14px;
  }
  .caption h3 {
    font-size: 14px;
  }
  .caption p,
  .item-count {
    font-size: 14px;
  }
  .caption {
    margin-right: 0px !important;
  }
  .ordered-cart {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 4%;
    margin-right: 3%;
  }
  /* 

  .empty-cart,
  .products .quantity {
    width: 100px !important;
    margin: 10px 30% !important;
  }

  .added-cart ul li h4 {
    font-size: 20px;
  }
  .added-cart ul li p {
    font-size: 16px;
  }
  .remove-item {
    width: 20px;
    height: 20px;
  }
  .carbon-neutral {
    padding-left: 20% !important;
    padding-right: 20% !important;
  }
  .carbon-neutral p {
    font-size: 16px;
  }
  .added-cart button {
    width: 100%;
    font-size: 16px;
  }
  .added-cart .total-order p {
    font-size: 17px;
  } */
  .order-confirmation .order-confirmed {
    width: 350px;
  }
}
@media (min-width: 1025px) {
  header {
    font-size: 35px;
    margin: 20px 5% 20px 3%;
  }
  main .products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    width: 65%;
    margin: 0 5% 0 3%;
    align-items: center;
    justify-content: center;
  }
  .ordered-cart {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 4%;
    margin-right: 3%;
  }
}
