/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(13, 31%, 94%);
}

/* aside 1 */
header {
  font-weight: 900;
  color: hsl(14, 65%, 9%);
}
.products img {
  cursor: pointer;
}
.add-cart,
.products .quantity {
  width: 150px;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  border: 1.2px solid hsl(14, 25%, 72%);
}
.add-cart {
  justify-content: space-around;
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.add-cart span {
  font-size: 16px;
  font-weight: 500;
}
.products .quantity {
  background-color: hsl(14, 86%, 42%);
  justify-content: space-between;
}
.circle-box {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.quantity span {
  color: hsl(0, 0%, 100%);
}
.caption {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px 20px 20px;
}
.caption h6 {
  font-size: 16px;
  font-weight: 100px;
  color: hsl(0, 0%, 71%);
}
.caption h3 {
  font-size: 18px;
}
.caption p,
.item-count {
  color: hsl(14, 79%, 46%);
  font-weight: 700;
  font-size: 16px;
}

/* aside 2 */
.ordered-cart {
  background-color: hsl(0, 0%, 100%);
  max-width: 300px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 20px;
}
.ordered-cart h2 {
  color: hsl(14, 79%, 46%);
}
.ordered-cart .empty-cart svg {
  width: 100px;
  margin: 20px 80px;
}
.empty-cart p {
  color: hsl(12, 20%, 44%);
  text-align: center;
  font-weight: 500;
}
.added-cart ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(12, 20%, 44%);
  padding: 15px 0;
}
.ordered-cart .quantity {
  margin-top: 7px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.item-count {
  font-size: 14px;
}
.item-price {
  font-size: 12px;
}
.item-price b {
  font-size: 14px;
  font-weight: 200;
}
.total-price {
  font-size: 14px;
}
.remove-item {
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.2px solid hsl(12, 20%, 44%);
  border-radius: 50px;
}
.total-order {
  display: flex;
}
.total-order h1 {
  text-shadow: 0.2px 0.2px 1px hsl(14, 86%, 42%);
}
.added-cart .carbon-neutral {
  background-color: hsl(13, 31%, 94%);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.carbon-neutral p {
  font-size: 12px;
}
.carbon-neutral p span {
  font-weight: bold;
}
button {
  padding: 12px 85px;
  background-color: hsl(14, 86%, 42%);
  border-radius: 20px;
  border: none;
  color: hsl(0, 0%, 100%);
  margin: 5px auto;
  cursor: pointer;
}
.order-confirmation {
  display: none;
  width: 100%;
  height: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.order-confirmed {
  width: 320px;
  border-radius: 15px;
  padding: 20px 20px;

  background-color: hsl(0, 0%, 100%);
}
.order-confirmation p {
  font-size: 14px;
  margin: 5px 0;
}
.order-confirmation li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-confirmation .image img {
  width: 50px;
  height: 50px;
}
.order-confirmation .item-detail {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}
.order-confirmation .item-info-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.order-confirmation .total-order {
  justify-content: space-between;
}
.btn2 {
  padding: 10px 2px !important;
  width: 100%;
}
@media (max-width: 600px) {
  header {
    font-size: 30px;
    margin: 20px 0;
  }
  .all-content {
    width: 90%;
    margin: 10px auto;
  }
  .products img {
    width: 100%;
    border-radius: 10px;
  }
  .products img.selected {
    border: 2px solid hsl(14, 86%, 42%);
  }
  .add-cart,
  .products .quantity {
    position: relative;
    bottom: 20px;
    margin: 0 auto;
    z-index: 1;
  }
  .products .quantity {
    display: none;
  }
}
